@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --ff-Red-Hat: "Red Hat Text", sans-serif;

  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --lighter-dark-blue: hsl(234, 21%, 20%);
  --dark-blue: hsl(235, 15%, 14%);
  --black: hsl(235, 18%, 12%);

  --fw-700: 700;

  --animation-time: 250ms;
  --animation-timing-function: ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-Red-Hat);
  min-height: 100vh;
  background: url(images/pattern-hills.svg), url(images/bg-stars.svg),
    linear-gradient(180deg, #191a24 17%, #1e1f29 51%, #2b212d 83%);
  background-size: 1300px, cover;
  background-repeat: no-repeat;
  background-position: 82% 100%, center center;
  color: var(--white);
  font-weight: var(--fw-700);
}

img,
svg {
  display: block;
  max-width: 100%;
}

.wrapper {
  width: min(90%, 700px);
  margin-inline: auto;
}

.header {
  padding-top: 140px;
}

.header-title {
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px;
}

.timer-container {
  margin-top: 106px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-inline: auto;
}

/** Countdown Cards **/
.card-container {
  position: relative;
  width: 150px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 500px;
}

.card {
  width: 100%;
  height: 100%;
  font-size: clamp(2rem, -0.483rem + 10.596vw, 4.5rem);
  color: var(--soft-red);
  overflow: hidden;
  transform-style: preserve-3d;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 15px 0px 0px var(--black);
  -moz-box-shadow: 0px 10px 0px 0px var(--black);
  box-shadow: 0px 10px 0px 0px var(--black);
  position: relative;
  border-radius: 0.625rem;
}

.card::before,
.card::after {
  --_pseudo-width: 16px;
  content: "";
  position: absolute;
  background-color: var(--black);
  width: var(--_pseudo-width);
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 2;
}

.card::before {
  left: calc(var(--_pseudo-width) / -2);
  top: 50%;
  transform: translateY(-50%);
}

.card::after {
  right: calc(var(--_pseudo-width) / -2);
  top: 50%;
  transform: translateY(-50%);
}

.card-face {
  overflow: hidden;
  backface-visibility: hidden;
}

.top,
.bottom,
.card .flip-top,
.card .flip-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  line-height: 0;
  border-radius: 0.625rem;
}

.top,
.card .flip-top {
  display: grid;
  place-content: end center;
  background-color: var(--lighter-dark-blue);
}

.bottom,
.card .flip-bottom {
  bottom: 0;
  text-align: center;
  background-color: var(--dark-desaturated-blue);
}

.card .flip-top {
  transform-origin: bottom center;
  position: absolute;
  z-index: 1;
  animation: flipTop var(--animation-time) var(--animation-timing-function) both;
}

.card .flip-bottom {
  transform-origin: top center;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation: flipBottom var(--animation-time) var(--animation-timing-function)
    var(--animation-time) both;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flipBottom {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }
}

.card-container p {
  font-size: 14px;
  margin-top: 1rem;
  color: hsl(235, 34%, 62%);
}

.socials {
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.socials i {
  font-size: 2rem;
  color: #8385a9;
  transition: color 200ms;
}

.socials a:hover i,
.socials a:focus-within i {
  color: var(--soft-red);
}

@media (min-width: 656px) {
  .timer-container {
    gap: 2rem;
  }

  .card-container p {
    font-size: 1rem;
    letter-spacing: 7px;
  }
}

@media (min-width: 1200px) {
  body {
    background: url(images/pattern-hills.svg), url(images/bg-stars.svg),
      linear-gradient(180deg, #191a24 17%, #1e1f29 51%, #2b212d 83%);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: 82% 100%, center center;
  }
}
